<!DOCTYPE html>
<html>
<head>
    <title>Price Prediction</title>
</head>
<body>
    <h1>Product Price Prediction</h1>
    <form action="/predict" method="post">
        <label for="demand_elasticity">Demand Elasticity:</label>
        <input type="text" id="demand_elasticity" placeholder="e.g 1.5" name="demand_elasticity" required><br><br>

        <label for="competitor_pricing">Competitor Pricing:</label>
        <input type="text" id="competitor_pricing" placeholder="e.g 2000" name="competitor_pricing" required><br><br>

        <label for="customer_preferences">Select Preference:</label>
        <select name="customer_preferences" id="customer_preferences" required>
            {% for idx, category in categories %}
                <option value="{{idx}}">{{ category }}</option>
            {% endfor %}
    
        </select><br><br>  
    

        <label for="age">User Age:</label>
        <input type="text" id="age" name="age" required><br><br>


        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required><br><br>

        <label for="quantity">Pick date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <input type="submit" value="Predict">
    </form>
    
    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>
